.scrollable-dialog-parent:has(.scrollable-dialog) {
    height: calc(100% - 64px);
}

.outline-none:has(.scrollable-dialog) {
    height: 100%;
}

div:has(.scrollable-dialog) {
    height: 100%;
}

div.mud-dialog-content:has(div.scrollable-dialog) {
    height: calc(100% - 52.5px);
    overflow: auto;
}

.scrollable-dialog {
}


.mud-dialog-actions {
    justify-content: unset;
}

div.mud-dialog-actions > div {
    width: 100%
}

    div.mud-dialog-actions > div > div {
        width: 100%
    }

        div.mud-dialog-actions > div > div > div:nth-child(4) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }

.mud-dialog-actions .mud-button {
   flex: 0 0 auto;
}

    .mud-dialog-actions .mud-button .mud-button-label {
        white-space: nowrap;
    }

.mud-typography-h6.smaller-h6 {
    font-size: 1.25em;
}
